<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<style>

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	margin: 0;
}

.found {
    width: 90%;
    background-color: aliceblue;
    margin: 4rem auto auto auto;
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.found .link {
    font-size: 25px;
    margin-right: 1rem;
}

.found .link a {
    text-decoration: none;
}

</style>

<body>

    <div class="top">

        <input type="search" name="" value="Search">

    </div>

    <div class="found">

        <div class="link">
            <a href="">found</a>
        </div>

        <div class="link">
            <a href="">found</a>
        </div>

        <div class="link">
            <a href="">found</a>
        </div>

        <div class="link">
            <a href="">found</a>
        </div>

        <div class="link">
            <a href="">found</a>
        </div>

        <div class="link">
            <a href="">found</a>
        </div>

    </div>

    <script src="script.js"></script>
</body>
</html>